@model Blog.Models.BlogPost
@inject IImageService _ImageService
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Authorization
@inject UserManager<BlogUser> _UserManager
@inject IBlogServices _blogServices




@{
    ViewData["Title"] = "Details";
    bool isLiked = await _blogServices.UserLikedBlogAsync(Model.Id, _UserManager.GetUserId(User)!);
}

<style>
    .ck-editor__editable_inline {
        min-height: 600px;
    }

    input.largerCheckbox {
        width: 30px;
        height: 30px;
    }

    label.form-check-label {
        font-size: 22px;
    }
</style>


<!-- Start Post Single Wrapper  -->
<div class="post-single-wrapper axil-section-gap bg-color-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <!-- Start Banner Area -->
                <div class="banner banner-single-post post-formate post-layout pb--40">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <!-- Start Single Slide  -->
                                <div class="content-block">
                                    <!-- Start Post Content  -->
                                    <div class="post-content">
                                        <div class="post-cat">
                                            <div class="post-cat-list">

                                          
                                                <h3 class="hover-flip-item-wrapper" href="#">
                                                    <span class="hover-flip-item">
                                                        <span data-text="Category:  @Model.Category?.Name">Category:   @Model.Category?.Name</span>
                                                    </span>
                                                </h3>
                                               
                                            </div>
                                        </div>


                                        <h1 class="title">
                                            @Model?.Title
                                            @*  @Html.DisplayNameFor(model => model.Title) *@  @*This just displayed the word "Title"*@
                                        </h1>
                                        <!-- Post Meta  -->
                                        <div class="post-meta-wrapper">
                                            <div class="post-meta">
                                                <div class="post-author-avatar border-rounded">
                                                    @* [Your Image] add an image of yourself here*@
                                                    <img src="@_ImageService.ConvertByteArrayToFile(null, null, DefaultImage.BlogUserImage)" alt="Author Images"
                                                         style="height:240px;width:240px">
                                                </div>
                                                <div class="content">
                                                    <h6 class="post-author-name">
                                                        <a class="hover-flip-item-wrapper" href="author.html">
                                                            <span class="hover-flip-item">

                                                                <span data-text="Tom Farrell">Tom Farrell</span>

                                                                @*                                                                 <span class="hover-flip-item">
                                                                <span data-text="@Model.BlogUser?.FullName">[Category]</span>
                                                                @Model?.BlogUser
                                                                </span> *@



                                                            </span>
                                                        </a>
                                                    </h6>
                                                    <ul class="post-meta-list">
                                                        <li>@Model?.CreatedDate.ToString("MMM dd, yyyy")</li>
                                                        <li>@Model?.Comments.Count</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <ul class="social-share-transparent justify-content-end">
                                                <li><a href="https://www.facebook.com/profile.php?id=100005064616174"><i class="fab fa-facebook-f"></i></a></li>
                                                @*<li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                                <li><a href="#"><i class="fab fa-twitter"></i></a></li> *@
                                                <li><a href="https://www.linkedin.com/in/thomas-j-farrell-jr-75195a94"><i class="fas fa-link"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- End Post Content  -->
                                </div>
                                <!-- End Single Slide  -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Banner Area -->
                <!-- Start Blog Details  -->
                <div class="axil-post-details">
                    <p class="has-medium-font-size">
                        <!--Abstract here-->
                        @*          [Abstract] *@
                        @Model?.Abstract
                    </p>
                    <figure class="wp-block-image alignwide text-center">
                        <!--Blog Image here-->
                        @* [Image] *@

                        <img src="@_ImageService.ConvertByteArrayToFile(null, null, DefaultImage.AuthorImage)"
                             alt="Show the blog's Image here or a default Image" style="height:240px;width:240px" />

                    </figure>
                    @Html.Raw((Model?.Content!).ToString())

                    <div class="">
                        <!--Tags listed here-->
       
                        <div class="tagcloud">
                            @foreach (Tag tags in Model.Tags)
                            {
                                <a asp-action="Tags" asp-controller="BlogPosts" asp-route-tagId="@tags.Id"> @tags.Name </a>
                            }

                        </div>


                    </div>
                    <div class="social-share-block" >
                        <div class="post-like" >
                            <a id="likesButton">
                                @if (isLiked)
                                {
                                    <i id="faThumb" class="fal fa-thumbs-up" style="background-color:red;color:white;border-color:white"></i>
                                }
                                else
                                {
                                    <i id="faThumb" class="fal fa-thumbs-up"></i>
                                }

                                <span id="numLikes">@Model.Likes.Where(l => l.IsLiked==true).Count() Likes </span>
                            </a>
                        </div>
                        <ul class="social-icon icon-rounded-transparent md-size">
                            <li><a href="https://www.facebook.com/profile.php?id=100005064616174"><i class="fab fa-facebook-f"></i></a></li>
                            @*                             <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li> *@
                            <li><a href="https://www.linkedin.com/in/thomas-j-farrell-jr-75195a94"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                    <!-- Start Author  -->
                    <div class="about-author">
                        <div class="media">
                            <div class="thumbnail">
                                <a href="#">
                                    <img src="@_ImageService.ConvertByteArrayToFile(null, null, DefaultImage.BlogUserImage)" alt="Author Images"
                                         style="height:120px;width:120px">
                                </a>
                            </div>
                            <div class="media-body">
                                <div class="author-info">
                                    <h5 class="title">
                                        <a class="hover-flip-item-wrapper" href="#">
                                            <span class="hover-flip-item">

                                                @*         pan data-text="@comment.Author?.FullName">@comment.Author?.FullName
                                                </span> *@


                                                <span data-text="Tom Farrell">Tom Farrell</span>
                                            </span>
                                        </a>
                                    </h5>
                                    <span class="b3 subtitle">Software Developer</span>
                                </div>
                                <div class="content">
                                    <p class="b1 description">
                                        I'm a coder, you're a coder, he's a coder, she's a coder ... wouldn't you like to be a coder too!?
                                    </p>
                                    <ul class="social-share-transparent size-md">
                                        <li><a href="https://www.facebook.com/profile.php?id=100005064616174"><i class="fab fa-facebook-f"></i></a></li>
                                        @*                                         <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li> *@
                                        <li><a asp-controller="BlogPosts" asp-action="ContactMe"><i class="far fa-envelope"></i></a></li>
                                        <li><a href="https://www.linkedin.com/in/thomas-j-farrell-jr-75195a94"><i class="fab fa-linkedin-in"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Author  -->
                    <!-- Start Comment Form Area  -->
                    <div class="axil-comment-area">

                        <!-- Start Comment Respond  -->
                        @*                         [Comments Section] *@
                        <div class="comment-respond">
                            <h4 class="title">Post a comment</h4>

                            <form asp-action="Create" asp-controller="Comments" method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" name="blogPostSlug" value="@Model?.Slug" />
                                <input type="hidden" name="blogPostId" value="@Model?.Id" />
                                <div class="row row-md-10">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="editor">Leave a Reply</label>
                                            <textarea id="editor" class="form-control" name="Body"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-submit cerchio">
                                        <input name="submit" type="submit" id="submit" class="axil-button button-rounded" value="Post Comment">
                                    </div>
                                </div>
                            </form>
                        </div>


                        <!-- End Comment Respond  -->
                        <!-- Start Comment Area  -->
                        <div class="axil-comment-area">
                            <h4 class="title">@Model?.Comments.Count comments</h4>
                            <ul class="comment-list">
                                <!-- List Comments here -->
                                @* [List Comments] *@
                                <!-- Start Single Comment  -->
                                @foreach (Comment comment in Model!.Comments)
                                {
                                    <li class="comment">
                                        <div class="comment-body">
                                            <div class="single-comment">
                                                <div class="comment-img">
                                                    <img src="@_ImageService.ConvertByteArrayToFile(null, null, DefaultImage.AuthorImage)"
                                                         alt="Author Images" style="height:40px;width:40px">
                                                </div>
                                                <div class="comment-inner">
                                                    <h6 class="commenter">
                                                        <a class="hover-flip-item-wrapper" href="#">
                                                            <span class="hover-flip-item">
                                                                <span data-text="@comment.Author?.FullName">@comment.Author?.FullName</span>

                                                            </span>
                                                        </a>
                                                    </h6>
                                                    <div class="comment-meta">
                                                        <div class="time-spent"></div>
                                                        <div class="reply-edit">
                                                        </div>
                                                    </div>
                                                    <div class="comment-text">
                                                        <p class="b2">
                                                            @comment.Body
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <!-- End Single Comment  -->
                                }





                            </ul>
                        </div>
                        <!-- End Comment Area  -->
                    </div>
                    <!-- End Comment Form Area  -->

                </div>
                <!-- End Blog Details  -->
            </div>
        </div>
    </div>
</div>
<!-- End Post Single Wrapper  -->


@section scripts{
    <!--Sweet Alerts-->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script type="text/javascript">
        @{
            string userId = _UserManager.GetUserId(User)!;
        }

            let userId = '@userId';

        $().ready(function () {
            $('#likesButton').click(function () {

                // If not logged in SweeAlert!
                if(userId == '') {
                Swal.fire({
                    backrop: false,
                    icon: 'warning',
                    title: 'Ooops',
                    text: "You must be logged in to Like this post."
                });


            } else {
                let args = {
                    blogPostId: @Model.Id,
                    BlogUserId: userId
                };

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("LikeBlogPost", "BlogPosts")',
                    data: args,
                    success: function (result) {
                        let data = result.isLiked;
                        let likes = result.count;

                        if (data == true) {
                            $("#faThumb").css({ "background-color": "red", "color": "white", "border-color": "white" });
                        } else {
                            $("#faThumb").css({ "background-color": "", "color": "", "border-color": "" });
                        }

                        $('#numLikes').html(likes + ' Likes');
                    },
                    failure: function (result) {
                        alert(result.d);
                    },
                    error: function (result) {
                        alert(result.d);
                    }
                });

            };
        });

    });
    </script>
}
